h1{
	color: red;
    text-align: center;
    }
h2{
	font-size: 20
    }

body{
	background-color: lightgray;
	text-align: center}
	        
th{
	color: blue;
	}

.stipendio{
	color: #d0a522;
    }

table{
	margin-right: auto;
	margin-left: auto;
    }


ol#menu { 
	margin: 0px; 
	padding: 0px; 
	list-style-type: none; 
    }
#menu li { 
	display: inline; 
	padding: 10px; 
    }	        